<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbj.mapper.Credit1LogMapper">
	
	<insert id="insert">
		insert into credit1_log (major_key, create_time) values (#{key}, now())
	</insert>
	
	<select id="countByKey" resultType="int">
		select count(1) from credit1_log where major_key = #{key}
	</select>
	
</mapper>